mixin add_evaluation_plan(case_name, ...rows)
    .row: .col-sm-12
        h4= case_name
        table(class="table")
            thead
                tr
                    th(style="width: 15%") Evaluation number
                    th(style="width: 20%") Group number
                    th(style="width: 25%") Group name
                    th(style="width: 20%") Evaluation start
                    th(style="width: 20%") Evaluation end
            tbody
                each item in rows
                    tr
                        td=item.evalnum
                        td=item.groupnum
                        td=item.groupname
                        td=item.evalstart
                        td=item.evalend

section.evaluationplan-section#evaluationplan-section(class="triangle"): .container: .row: .col-sm-12
    h2 Evaluation Plan
    hr
    if SHOW_EVAL_PLAN
        +add_evaluation_plan("DeiC Case",
            {evalnum: "1", groupnum: "Group 2", groupname: "De voldsomme vildgnuer", evalstart: "12:15", evalend: "12:20"},
            {evalnum: "2", groupnum: "Group 6", groupname: "Schlobbers", evalstart: "12:20", evalend: "12:25"},
            {evalnum: "3", groupnum: "Group 9", groupname: "Wizzards", evalstart: "12:25", evalend: "12:30"},
            {evalnum: "4", groupnum: "Group 12", groupname: "Biominds", evalstart: "12:30", evalend: "12:35"},
            {evalnum: "5", groupnum: "Group 22", groupname: "Databanden", evalstart: "12:35", evalend: "12:40"},
            {evalnum: "6", groupnum: "Group 27", groupname: "Smørklatten", evalstart: "12:40", evalend: "12:45"}
            )
        +add_evaluation_plan("AUHack Case",
            {evalnum: "7", groupnum: "Group 1", groupname: "Blabble", evalstart: "12:55", evalend: "13:00"},
            {evalnum: "8", groupnum: "Group 3", groupname: "Questionable Research, Doubtful Conclusions", evalstart: "13:00", evalend: "13:05"},
            {evalnum: "9", groupnum: "Group 7", groupname: "That group se7en", evalstart: "13:05", evalend: "13:10"},
            {evalnum: "10", groupnum: "Group 10", groupname: "Deadlock Disciples", evalstart: "13:10", evalend: "13:15"},
            {evalnum: "11", groupnum: "Group 25", groupname: "Open Sesame", evalstart: "13:15", evalend: "13:20"},
            {evalnum: "12", groupnum: "Group 28", groupname: "Class Meter", evalstart: "13:20", evalend: "13:25"},
            {evalnum: "13", groupnum: "Group 29", groupname: "S P A C E", evalstart: "13:25", evalend: "13:30"},
            {evalnum: "14", groupnum: "Group 30", groupname: "The pasta pálika paella squad", evalstart: "13:30", evalend: "13:35"},
            {evalnum: "15", groupnum: "Group 31", groupname: "KSDH*", evalstart: "13:35", evalend: "13:40"}
            )
        +add_evaluation_plan("Rogue Case",
            {evalnum: "16", groupnum: "Group 14", groupname: "HFPH", evalstart: "13:50", evalend: "13:55"},
            {evalnum: "17", groupnum: "Group 19", groupname: "ALPHA Sigmas", evalstart: "13:55", evalend: "14:00"}
            )
    else
        p Will be made available during the weekend.
    