mixin add_evaluation_plan(case_name, ...rows)
    .row: .col-sm-12
        h4= case_name
        table(class="table")
            thead
                tr
                    th(style="width: 15%") Evaluation number
                    th(style="width: 20%") Group number
                    th(style="width: 25%") Group name
                    th(style="width: 20%") Evaluation start
                    th(style="width: 20%") Evaluation end
            tbody
                each item in rows
                    tr
                        td=item.evalnum
                        td=item.groupnum
                        td=item.groupname
                        td=item.evalstart
                        td=item.evalend

section.evaluationplan-section#evaluationplan-section(class="triangle"): .container: .row: .col-sm-12
    h2 Evaluation Plan
    +add_evaluation_plan("Trifork Case",
        {evalnum: "1", groupnum: "Group 4", groupname: "DJ Productions +1", evalstart: "11:20", evalend: "11:24"},
        {evalnum: "2", groupnum: "Group 5", groupname: "The Digital Dames", evalstart: "11:24", evalend: "11:28"},
        {evalnum: "3", groupnum: "Group 6", groupname: "Potty Potty", evalstart: "11:28", evalend: "11:32"},
        {evalnum: "4", groupnum: "Group 8", groupname: "IT og produktion", evalstart: "11:32", evalend: "11:36"},
        {evalnum: "5", groupnum: "Group 10", groupname: "Glidebane", evalstart: "11:36", evalend: "11:40"},
        {evalnum: "6", groupnum: "Group 16", groupname: "GR16", evalstart: "11:40", evalend: "11:44"},
        {evalnum: "7", groupnum: "Group 26", groupname: "Theas Tæsketøsser", evalstart: "11:44", evalend: "11:48"},
        {evalnum: "8", groupnum: "Group 31", groupname: "Code copeiuhm", evalstart: "11:48", evalend: "11:52"},
        {evalnum: "9", groupnum: "Group 34", groupname: "TRI4K", evalstart: "11:52", evalend: "11:56"},
        {evalnum: "10", groupnum: "Group 38", groupname: "Hacker-Lømlerne", evalstart: "11:56", evalend: "12:00"}
        )
    +add_evaluation_plan("Grundfos Case",
        {evalnum: "11", groupnum: "Group 2", groupname: "!Best", evalstart: "12:16", evalend: "12:20"},
        {evalnum: "12", groupnum: "Group 3", groupname: "AU Analytica", evalstart: "12:20", evalend: "12:24"},
        {evalnum: "13", groupnum: "Group 12", groupname: "Databanden", evalstart: "12:24", evalend: "12:28"},
        {evalnum: "14", groupnum: "Group 19", groupname: "NMA PowerHacks", evalstart: "12:28", evalend: "12:32"},
        {evalnum: "15", groupnum: "Group 20", groupname: "HiveMind", evalstart: "12:32", evalend: "12:36"}
        )
    +add_evaluation_plan("InCommodities Case",
        {evalnum: "16", groupnum: "Group 7", groupname: "DROPTABLE users", evalstart: "12:36", evalend: "12:40"},
        {evalnum: "17", groupnum: "Group 9", groupname: "Team F", evalstart: "12:40", evalend: "12:44"},
        {evalnum: "18", groupnum: "Group 18", groupname: "OkayIPullUp", evalstart: "12:44", evalend: "12:48"},
        {evalnum: "19", groupnum: "Group 22", groupname: "And now for the weather", evalstart: "12:48", evalend: "12:52"},
        {evalnum: "20", groupnum: "Group 27", groupname: "Duck Hunters", evalstart: "12:52", evalend: "12:56"},
        {evalnum: "21", groupnum: "Group 40", groupname: "mystaGOGical", evalstart: "12:56", evalend: "13:00"}
        )
    +add_evaluation_plan("Rogue Case",
        {evalnum: "22", groupnum: "Group 1", groupname: "Østjyllands Storkreds", evalstart: "13:20", evalend: "13:24"},
        {evalnum: "23", groupnum: "Group 15", groupname: "Luigis La Casa de La Tires", evalstart: "13:24", evalend: "13:28"},
        {evalnum: "24", groupnum: "Group 17", groupname: "BadAtNaming", evalstart: "13:28", evalend: "13:32"},
        {evalnum: "25", groupnum: "Group 24", groupname: "Trolle Hombres", evalstart: "13:32", evalend: "13:36"},
        {evalnum: "26", groupnum: "Group 28", groupname: "XNOR-LAX", evalstart: "13:36", evalend: "13:40"},
        {evalnum: "27", groupnum: "Group 33", groupname: "RPGPT", evalstart: "13:40", evalend: "13:44"},
        {evalnum: "28", groupnum: "Group 37", groupname: "SCHID-KIDS", evalstart: "13:44", evalend: "13:48"}
        )
    