- 
  var events = [
    {
    id: "rubberduck",
    name: "Duck Hunt",
    time: "Time is but a concept...",
    location: "Nygaard",
    signup: "No need to sign up!",
    description: "Yes, you are correct - this event is not shown on the schedule. Why? Glad you asked!<br><br>Over the course of the weekend, rubber ducks will randomly spawn in the Nygaard building. What will you get for finding them? Only one way to find out... *insert mysterious sounds here*"
    },
    {
    id: "guestlecture",
    name: "Guest Lecture starring Bjarne Stroustrup",
    time: "Friday, 16:30-17:00",
    location: "Peter Bøgh Auditorium",
    signup: "No need to sign up!",
    description: "Join us for an exclusive guest lecture by Bjarne Stroustrup, the creator of C++! In this talk titled 'Programming Languages and Technical Culture', Bjarne will explore the intricate relationship between programming language design and the culture of software development.<br><br>Discover how language choices shape the way we think about problems, influence team dynamics, and impact the broader technical community. A rare opportunity to hear from one of the most influential figures in computer science!"
    },
    {
    id: "robotminigolf",
    name: "Robot Minigolf",
    time: "Friday, 19:00-21:00",
    location: "TBD",
    signup: "Sign up as a group.",
    description: "Get ready for a fun and competitive game of Robot Minigolf! In this event, teams will design and program their own mini-robots to navigate a custom-built minigolf course. Each team will have the opportunity to showcase their creativity and engineering skills as they compete for the best score."
    },
    {
    id: "yoga",
    name: "Yoga",
    time: "Saturday, 09:00-10:00",
    location: "TBD",
    signup: "Sign up per person.",
    description: "The best way to wake up in the morning after breakfast - some yoga!<br><br>As we all know, IT folk have terrible posture being bent over our laptops for the majority of our day - and possibly all night too! Attend this event if you want to have an edge on your competition or if you were supposed to have been to fitness this morning (but didn't go because AUHack is of course prioritized ;))"
    },
    {
    id: "legomasters",
    name: "LEGO MASTERS v. InCommodities",
    time: "Saturday, 10:00-11:55",
    location: "TBD",
    signup: "Sign up as a group.",
    description: "More info to come"
    },
    {
    id: "masonicgaming",
    name: "Masonic PC Gaming",
    time: "Saturday, 12:00-15:00",
    location: "TBD",
    signup: "Sign up per person.",
    description: "Join us for a Counter-Strike tournament! Sign up for a time slot of approximately 10-15 minutes, and you'll play a match against the other 9 participants who signed up for the same slot. At the end of the event, there will be a prize ceremony for the winners.<br><br>Whether you're a seasoned CS player or just looking to have some fun, this is your chance to show off your skills and compete for prizes!"
    },
    {
    id: "pitchpractice",
    name: "Playful Pitch Practice v. CSG",
    time: "Saturday, 16:00-16:45",
    location: "Peter Bøgh Auditorium",
    signup: "Sign up per person.",
    description: "Want to get a feel of presenting in the auditorium before the pitching round Sunday? Feel like practicing your pitch and getting some feedback? Care to have some fun with other participants for 45 minutes?<br><br> Join the playful pitch practice for some warm-up exercises, some playful presenting, and a chance to practice pitching."
    },
    {
    id: "omm",
    name: "One Minute Madness",
    time: "Sunday, 11:00-12:00",
    location: "Peter Bøgh Auditorium",
    signup: "We will ask for a single slide late saturday/early sunday from each group.",
    description: "It's time. Show everybody what you have come up with and how far you got, and be sure to make full use of that minute! You will be given neither more nor less than 60 seconds, so good luck!<br><br>Psst. Remember that your presentation will be part of the evaluation of your hack."
    },
    {
    id: "eval",
    name: "Evaluation",
    time: "Sunday, 12:00-14:00",
    location: "Nygaard-basement",
    signup: "No need to sign up!",
    description: "Time for evaluation, the very last event of the weekend (with the exception of the award ceremony). You will want to make sure to be ready at your group table when our judges come by to ask questions about your hack.<br><br>For more information on this very important part of AUHack, see the dedicated page <a href='expo.html'>here</a>!"
    }
    ]
  
mixin set_buttons()
  .row: .col-sm-12
    h2 Events
    a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
      span.fa.fa-chevron-up
    .text-center
      each item in events
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.name}
    hr
  
mixin set_cards()
  .row 
    .col-sm-6
      each item, index in events
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in events
        if (index % 2 == 1)
          +set_cards_helper(item)
  
mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/events/" + item.id + ".jpg") alt=item.name)
    .card-body
      h5= item.name
      i.text-muted= item.time
      br
      i.text-muted= item.location
      hr
      h6 Sign-up specifics
      p!= item.signup
      h6 Description
      p!= item.description

section.cards-section#cards-section(class="triangle"): .container
  +set_buttons()
  +set_cards()