- 
  var events = [
    {
    id: "rubberduck",
    name: "Duck Hunt",
    time: "Time is but a concept...",
    location: "Nygaard",
    signup: "No need to sign up!",
    description: "Yes, you are correct - this event is not shown on the schedule. Why? Glad you asked!<br><br>Over the course of the weekend, rubber ducks will randomly spawn in the Nygaard building. What will you get for finding them? Only one way to find out... *insert mysterious sounds here*"
    },
    {
    id: "murdermystery",
    name: "Murder Mystery",
    time: "The entirety of the weekend",
    location: "Nygaard",
    signup: "No need to sign up!",
    description: "This event also does not have a specific timeslot nor is shown on the schedule. That's because this murder mystery game will be going on for most of the weekend. As the name suggests, you will have to guess how someone has been 'killed', with new hints showing up over the duration of the weekend. The event will be explained more in-depth during the opening ceremony."
    },
    {
    id: "robotsumo",
    name: "Robot Sumo",
    time: "Friday, 20:30-21:30 & Saturday, 20:00-21:30",
    location: "Peter Bøgh Auditorium",
    signup: "Sign up as a group.",
    description: "The first event of the weekend!<br><br>Ever wanted to build your very own robot sumowrestler? And also use it to fight other robot sumowrestlers?? Of course of you have! Well, now is your chance!<br><br>The intro/building part of this event will be happening from 20:30 to 21:30 friday evening, and then you will be able to use them saturday evening from 20:00 to 21:30 in the tournament!"
    },
    {
    id: "yoga",
    name: "Yoga",
    time: "Saturday, 09:00-10:00",
    location: "Nygaard-192",
    signup: "Sign up per person.",
    description: "The best way to wake up in the morning after breakfast - some yoga!<br><br>As we all know, IT folk have terrible posture being bent over our laptops for the majority of our day - and possibly all night too! Attend this event if you want to have an edge on your competition or if you were supposed to have been to fitness this morning (but didn't go because AUHack is of course prioritized ;))"
    },
    {
    id: "bambuild",
    name: "Bambuild",
    time: "Saturday, 16:00-17:30",
    location: "Nygaard-basement",
    signup: "Sign up as a group.",
    description: "We are bringing back Bambuild from two years ago! In this event you will have to build the tallest possible tower made out of only bamboo and rubber bands!<br><br>And of course, the group that builds the tallest tower will be getting a prize. ;)"
    },
    {
    id: "omm",
    name: "One Minute Madness",
    time: "Sunday, 11:00-12:00",
    location: "Peter Bøgh Auditorium",
    signup: "We will ask for a single slide late saturday/early sunday from each group.",
    description: "It's time. Show everybody what you have come up with and how far you got, and be sure to make full use of that minute! You will be given neither more nor less than 60 seconds, so good luck!<br><br>Psst. Remember that your presentation will be part of the evaluation of your hack."
    },
    {
    id: "eval",
    name: "Evaluation",
    time: "Sunday, 12:00-14:00",
    location: "Nygaard-basement",
    signup: "No need to sign up!",
    description: "Time for evaluation, the very last event of the weekend (with the exception of the award ceremony). You will want to make sure to be ready at your group table when our judges come by to ask questions about your hack.<br><br>For more information on this very important part of AUHack, see the dedicated page <a href='expo.html'>here</a>!"
    }
    ]
  
mixin set_buttons()
  .row: .col-sm-12
    h2 Events
    a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
      span.fa.fa-chevron-up
    .text-center
      each item in events
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.name}
    hr
  
mixin set_cards()
  .row 
    .col-sm-6
      each item, index in events
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in events
        if (index % 2 == 1)
          +set_cards_helper(item)
  
mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/events/" + item.id + ".jpg") alt=item.name)
    .card-body
      h5= item.name
      i.text-muted= item.time
      br
      i.text-muted= item.location
      hr
      h6 Sign-up specifics
      p!= item.signup
      h6 Description
      p!= item.description

section.cards-section#cards-section(class="triangle"): .container
  +set_buttons()
  +set_cards()