- 
  var workshops = [
    {
    id: "ml",
    short_name: "Machine Learning",
    long_name: "Grundfos Hands-on ML Workshop - Building Type Classification",
    tags: "Machine Learning",
    description: "The goal of this workshop is to introduce you to how and what real-world data science is.<br><br>We will run the workshop in a Jupyter notebook (on GitHub Codespaces or on your local machine). We will introduce you to our toolstack in python, which includes Snowflake, Siuba, Plotnine, and more. Finally, we will train a simple model on a real world usecase.<br><br>The workshop is based on an internal Data Hackathon, where the goal was to classify the type of building based on iGRID heat meter data.",
    prerequisites: "You have seen Python/R code or something similar.",
    software_needed: "A GitHub account.",
    hardware_needed: "A laptop."
    },
    {
    id: "ar",
    short_name: "Augmented Reality",
    long_name: "AR development for mobile, held by Mathias Lystbæk",
    tags: "Augmented Reality, Mobile, Unity",
    description: "This workshop will teach you about Augmented Reality (AR) development for mobile using the Unity game engine. If you want to incorporate some fun AR stuff into your hack, this workshop will show you how!",
    prerequisites: "An interest for AR!",
    software_needed: "You will need to have Unity installed and set up properly. Please follow <a href='docs/unity_ar_setup.pdf'>this guide</a> to make sure that you have it set up properly.",
    hardware_needed: "If you have an iPhone/a phone running iOS, then you will need a computer running Macintosh as well. For Android nothing else is needed."
    }
    ]
  
mixin set_buttons()
  .row: .col-sm-12
    h2 Workshops
    a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
      span.fa.fa-chevron-up
    .text-center
      each item in workshops
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.short_name}
    hr
  
mixin set_cards()
  .row 
    .col-sm-6
      each item, index in workshops
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in workshops
        if (index % 2 == 1)
          +set_cards_helper(item)
  
mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/workshops/" + item.id + ".jpg") alt=item.short_name)
    .card-body
      h5= item.long_name
      i.text-muted= item.tags
      hr
      h6 Description
      p!= item.description
      h6 Prerequisites
      p!= item.prerequisites
      h6 Software needed
      p!= item.software_needed
      h6 Hardware needed
      p!= item.hardware_needed

section.cards-section#cards-section(class="triangle"): .container 
  +set_buttons()
  +set_cards()
