- 
  var cases = [
    {
    id: "deic", 
    sponsor_name: "DeiC",
    title: "Spread knowledge of HPC+",
    description_short: "High Performance Computing integrates systems administration (including network and security knowledge) and parallel programming into a multidisciplinary field that combines digital electronics, computer architecture, system software, and more. HPC technologies are the tools and systems used to implement and create high performance computing systems.<br><br>HPC as a term arose after the term 'supercomputing'. HPC is sometimes used as a synonym for supercomputing; but, in other contexts, 'supercomputer' is used to refer to a more powerful subset of 'high-performance computers', and the term 'supercomputer' becomes a subset of 'high-performance computing'.<br>Today HPC is much more. It is also the art of AI/ML. At DeiC, we use the term HPC+ to include all the different variations of HPC that exist.<br><br>So why are we at AUHack? We are at AUHack to get you students interested in HPC+ and to show how it can help you in your careers and how you can use it for doing better research, product development or just fun things in general!",
    description_long: "This case is very open. In broad terms it is the following:<br><em>Create a product this weekend that will help your fellow students learn something about HPC+.</em><br><br>Some suggestions that could guide you in this are:<ul><li>Build a mini HPC system of connected Raspberry Pis or other small boards that include a SLURM queue system. This can be used to learn about how to scale a computer job, which could then be used to learn the basis of programming a super computer.</li><li>A way to promote HPC+ to your fellow students. Create material or learning material that you think other students could learn from, with a focus on the basics of HPC+.</li><li>From one of the datasets on <a href='https://www.kaggle.com/datasets?search=image'>kaggle</a> or some other source of data, create a nice AI/ML model that shows something fun and creative using PyTorch and Miniconda.</li><li>And many more... Come by our booth if you need any other suggestions!</li></ul>",
    technology: "We will be available during the weekend to explain HPC+ more in-depth, to help with suggestions, and much more. Additionally, you will be able to use our HPC facility.",
    judging_criteria: "We are especially interested in some sort of tangible product, be it software or hardware based. And of course the product's ability to teach something about HPC+."
    }, 
    {
    id: "auhack",
    sponsor_name: "AUHack",
    title: "Improve your University life",
    description_short: "In contrast to earlier years, we at AUHack have also brought a case this year. Seeing as we are all students, we thought that a case about improving university life was a good fit.",
    description_long: "This case is also quite open, and the problem is one that you know best. But we could give you some examples:<br><br>a) There are a lot of different student unions, party assocations and committees of various kinds at the University and your department. A lot of them arrange some professional/teaching events and there are lots of social and fun activities going on as well. How does everyone get to know about all these unions and their activities? How do you know what you can join or where you can go with your ideas if you have some?<br><br>b) Could we be more sustainable in everyday life if it was easier or maybe more fun? A lot of deposit bottles (the Danish 'pant') end in the bins - maybe because it's not easy to deposit them correctly, but what if we could give an incentive to deposit them in a special bin instead of the trash? What if it was fun to deposit?<br><br>c) Is there something really bugging you in your everyday life at University? Maybe something about the study halls and locations, or maybe something about communication to or between students, or something else entirely? Could you maybe work on something that could do something about it, if you had the whole weekend?<br><br>The solution to all of these (and more) problems regarding your life at University is where you come in. What should be done? How? By who? When? What could you ideate/demonstrate/prototype to show your idea and suggestion for a solution? It doesn't matter how big or small an impact you think it could make, or for how many. If it could make <em>some</em> impact at some point, it's worth exploring!",
    technology: "As always there will be 3D printers and hardware available for use. And maybe there's some data already available that you can tap into to showcase your concept or make your prototype work, or maybe you can imagine how to create or get a hold of needed data if you were to actually implement the idea.<br>We will also have a volunteer helper during Saturday that you can get help from when it comes to hardware, as well as a couple people from one of the labs.",
    judging_criteria: "The judging criteria for this case are much the same as for the 'Best Hack' award, but with a greater focus on novel hacks that focus on solving the case, with sound argumentation for why it is a problem and why your solution works."
    }
    ]

mixin set_buttons()
  a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
    span.fa.fa-chevron-up
  .text-center
    each item in cases
      a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.sponsor_name} Case
  hr

mixin set_cards()
  .row 
    .col-sm-6
      each item, index in cases
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in cases
        if (index % 2 == 1)
          +set_cards_helper(item)

mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/sponsors/case_banners/" + item.id + ".jpg") alt=item.sponsor_name)
    .card-body
      h5= item.title
      i.text-muted= item.sponsor_name
      hr
      p!= item.description_short
      if item.description_short != ""
        br
      h6 Case
      p!= item.description_long
      br
      h6 Technology
      p!= item.technology
      br
      h6 Judging criteria
      p!= item.judging_criteria

section.cards-section#cards-section(class="triangle"): .container
  .row: .col-sm-12
    h2 Cases
  if SHOW_CASES
    +set_buttons()
    +set_cards()
  else
    p The cases have not been announced yet.
      
        
  
