//- Ignore this:
  #[a(href="https://albertbz.com/") test]

- 
  var cases = [
    {
    id: "grundfos", 
    sponsor_name: "Grundfos",
    title: "Placeholder",
    description_short: "Placeholder",
    description_long: "Placeholder",
    technology: "Placeholder",
    judging_criteria: "Placeholder"
    }, 
    {
    id: "trifork",
    sponsor_name: "Trifork",
    title: "Placeholder",
    description_short: "Placeholder",
    description_long: "Placeholder",
    technology: "Placeholder",
    judging_criteria: "Placeholder"
    },
    {
    id: "incommodities",
    sponsor_name: "InCommodities",
    title: "Placeholder",
    description_short: "Placeholder",
    description_long: "Placeholder",
    technology: "Placeholder",
    judging_criteria: "Placeholder"
    }
    ]

mixin set_buttons()
  .row: .col-sm-12
    h2 Cases
    a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
      span.fa.fa-chevron-up
    .text-center
      each item in cases
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.sponsor_name} Case
    hr

mixin set_cards()
  .row 
    .col-sm-6
      each item, index in cases
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in cases
        if (index % 2 == 1)
          +set_cards_helper(item)

mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/sponsors/case_banners/" + item.id + ".jpg") alt=item.sponsor_name)
    .card-body
      h5= item.title
      i.text-muted= item.sponsor_name
      hr
      p!= item.description_short
      h6 Case
      p!= item.description_long
      h6 Technology
      p!= item.technology
      h6 Judging criteria
      p!= item.judging_criteria

section.cards-section#cards-section(class="triangle"): .container 
  +set_buttons()
  +set_cards()
      
        
  
