- 
  var cases = [
    {
    id: "incommodities",
    sponsor_name: "InCommodities",
    title: "Decode the Power Market",
    description_short: "The European energy market is a fast-moving, complex distributed system. Driven by massive amounts of data and external signals like the weather, shifts in supply and demand constantly ripple through the grid, affecting electricity prices in real time.",
    description_long: "Your challenge? <strong>Treat the energy market like a puzzle made of data.</strong><br><br>Dive into structured datasets of real spot prices and weather fundamentals to uncover meaningful patterns. Your goal is to build a working artifact-like a dynamic dashboard or visualization-that explores, abstracts, and explains the underlying dynamics of what truly moves the price.<br><br>Read the full case description, curiosity prompts, and evaluation criteria here <a href=''>https://www.incommodities.com/auhack2026</a>",
    technology: "The choice of tech stack is entirely up to you! Since you will be exploring structured datasets to build a working artifact-like a visualization, dashboard, or prediction model-tools suited for data analysis, machine learning, and frontend development (such as Python, R, SQL, JavaScript, or BI tools) will be your best friends.",
    judging_criteria: "Submissions will be evaluated qualitatively based on four core pillars:<br><br><ul><li><strong>Insight:</strong> How well do you understand the power market system and communicate your findings?</li><li><strong>Craft:</strong> Is your code clean, readable, and well-structured?</li><li><strong>Originality:</strong> Did you bring a fresh angle, ask an unexpected question, or use a novel approach?</li><li><strong>Extensibility:</strong> Could your solution scale to include more countries, additional data sources, or a live data feed?</li></ul>"
    },
    {
    id: "auhack",
    sponsor_name: "AUHack",
    title: "Improve your University life",
    description_short: "In contrast to earlier years, we at AUHack have also brought a case this year. Seeing as we are all students, we thought that a case about improving university life was a good fit.",
    description_long: "This case is also quite open, and the problem is one that you know best. But we could give you some examples:<br><br>a) There are a lot of different student unions, party assocations and committees of various kinds at the University and your department. A lot of them arrange some professional/teaching events and there are lots of social and fun activities going on as well. How does everyone get to know about all these unions and their activities? How do you know what you can join or where you can go with your ideas if you have some?<br><br>b) Could we be more sustainable in everyday life if it was easier or maybe more fun? A lot of deposit bottles (the Danish 'pant') end in the bins - maybe because it's not easy to deposit them correctly, but what if we could give an incentive to deposit them in a special bin instead of the trash? What if it was fun to deposit?<br><br>c) Is there something really bugging you in your everyday life at University? Maybe something about the study halls and locations, or maybe something about communication to or between students, or something else entirely? Could you maybe work on something that could do something about it, if you had the whole weekend?<br><br>The solution to all of these (and more) problems regarding your life at University is where you come in. What should be done? How? By who? When? What could you ideate/demonstrate/prototype to show your idea and suggestion for a solution? It doesn't matter how big or small an impact you think it could make, or for how many. If it could make <em>some</em> impact at some point, it's worth exploring!",
    technology: "As always there will be 3D printers and hardware available for use. And maybe there's some data already available that you can tap into to showcase your concept or make your prototype work, or maybe you can imagine how to create or get a hold of needed data if you were to actually implement the idea.<br>We will also have a volunteer helper during Saturday that you can get help from when it comes to hardware, as well as a couple people from one of the labs.",
    judging_criteria: "The judging criteria for this case are much the same as for the 'Best Hack' award, but with a greater focus on novel hacks that focus on solving the case, with sound argumentation for why it is a problem and why your solution works."
    }
    ]

mixin set_buttons()
  a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
    span.fa.fa-chevron-up
  .text-center
    each item in cases
      a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.sponsor_name} Case
  hr

mixin set_cards()
  .row 
    .col-sm-6
      each item, index in cases
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in cases
        if (index % 2 == 1)
          +set_cards_helper(item)

mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/sponsors/case_banners/" + item.id + ".jpg") alt=item.sponsor_name)
    .card-body
      h5= item.title
      i.text-muted= item.sponsor_name
      hr
      p!= item.description_short
      if item.description_short != ""
        br
      h6 Case
      p!= item.description_long
      br
      h6 Technology
      p!= item.technology
      br
      h6 Judging criteria
      p!= item.judging_criteria

section.cards-section#cards-section(class="triangle"): .container
  .row: .col-sm-12
    h2 Cases
  if SHOW_CASES
    +set_buttons()
    +set_cards()
  else
    p The cases have not been announced yet.
      
        
  
