//- Ignore this:
  #[a(href="https://albertbz.com/") test]

- 
  var cases = [
    {
    id: "lego", 
    sponsor_name: "Lego",
    title: "Lego title",
    description_short: "Short Lego desc",
    description_long: "Long Lego desc",
    technology: "Technology section for Lego!",
    judging_criteria: "These are all of the judging criteria!"
    }, 
    {
    id: "grundfos",
    sponsor_name: "Grundfos",
    title: "Grundfos title",
    description_short: "Short Grundfos desc"
    }
    ]

mixin set_buttons()
  .row: .col-sm-12
    h2 Cases
    .text-center
      each item in cases
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.sponsor_name} Case
    hr

mixin set_cards()
  .row: .col-sm-6
    each item in cases
      .card(id=item.id)
        img.card-img-top(src=("img/sponsors/" + item.id + ".jpg") alt=item.sponsor_name)
        .card-body
          h5= item.title
          i.text-muted= item.sponsor
          hr
          p= item.description_short
          h6 Case
          p= item.description_long
          h6 Technology
          p= item.technology
          h6 Judging criteria
          p= item.judging_criteria

section.cases-section#cases-section(class="triangle"): .container 
  +set_buttons()
  +set_cards()
  
//-
  .row: .col-sm-6
    .card#lego
      img.card-img-top(src=("img/sponsors/lego.jpg") alt="Lego")
      .card-body
        h5 Case title
        i.text-muted Lego
        hr
        p.
          Short description of case
        h6 Case
        p.
          Long description of case
        h6 Technology
        p.
          Description of technology
        h6 Judging criteria
        p.
          Description of judging criteria
//-        
  .row: .col-sm-12: #lego
    h5 The LEGO Group: Rebuild the workplace.
    p.
      This case focusses on the new normal, where it's possible to work from home,
      at the office, or any other place - which can affect ones mood and effectiveness,
      especially when it comes to (hybrid) meetings. The LEGO Group have brought Cisco
      desk devices, LEGO Spikes as well as VR headset that you guys can use to solve
      the case.
  .row: .col-sm-12: #grundfos
    h5 Grundfos: Any- and everything that will help support the SDG (Sustainable Development Goals) 6 and 13.
    p.
      The two goals, 6 and 13, are "Clean water and sanitation" and "Climate action".
      Grundfos have said that they would like you all to
      work with either homes or medium to large commercial buildings, and in their
      evaluation they will value novel ideas, user centered design and cool use of
      tech. They have brought a large dataset from the Grundfos 
      Dormitory as well as VR headsets and free to use assets in Sketchfab - along
      with a lot of mentors that you can use to get going!
  .row: .col-sm-12: #bankdata
    h5 Bankdata: Banking in the Metaverse.
    p  This is what Bankdata want to say about their case:
    p.
      Did you know that in 1932, the term “Virtual Reality” appeared for the first 
      time? This kickstarted a long path toward what is known today as the METAVERSE.
    p.
      After decades of cool sci-fi concepts and clunky technology, we now see a 
      revival of augmented and virtual reality.
    p.
      We wonder how banking will take place in the Metaverse?
    p.
      We want you to think PAST the obvious of just putting a bank branch in a virtual world.
    p.
      We want you to challenge the very core of Banks and Banking.
    p.
      Help us shape the future of Banking. 
      
        
  
