//- Ignore this:
  #[a(href="https://albertbz.com/") test]

- 
  var cases = [
    {
    id: "test1", 
    sponsor_name: "Test1",
    title: "This is the title!",
    description_short: "This is an example of a short description.",
    description_long: "This is an example of a very long description that just keeps on going and going forever and ever! I don't know what else to write here, but I hope you have a nice day! And don't forget to have fun! :)",
    technology: "Technology section for Test1.",
    judging_criteria: "These are all of the judging criteria. But don't worry, I won't judge you :)"
    }, 
    {
    id: "test2",
    sponsor_name: "Test2",
    title: "Test2 title",
    description_short: "Short Test2 desc.",
    description_long: "Long Test2 desc. <a href='https://auhack.org/'>Is this a link</a>? Please let it be!",
    technology: "Technology section for Test2.",
    judging_criteria: "Judging criteria section for Test2."
    }
    ]

mixin set_buttons()
  .row: .col-sm-12
    h2 Cases
    a#back-to-top.btn.btn-lg.back-to-top.smoothscroll(href="#cards-section" role="button" title="Click to return to top" data-toggle="tooltip" data-placement="left")
      span.fa.fa-chevron-up
    .text-center
      each item in cases
        a.smoothscroll.btn.btn-secondary(href="#" + item.id) #{item.sponsor_name} Case
    hr

mixin set_cards()
  .row 
    .col-sm-6
      each item, index in cases
        if (index % 2 == 0)
          +set_cards_helper(item)
    .col-sm-6
      each item, index in cases
        if (index % 2 == 1)
          +set_cards_helper(item)

mixin set_cards_helper(item)
  .card(id=item.id)
    img.card-img-top(src=("img/sponsors/case_banners/" + item.id + ".jpg") alt=item.sponsor_name)
    .card-body
      h5= item.title
      i.text-muted= item.sponsor_name
      hr
      p!= item.description_short
      h6 Case
      p!= item.description_long
      h6 Technology
      p!= item.technology
      h6 Judging criteria
      p!= item.judging_criteria

section.cards-section#cards-section(class="triangle"): .container 
  +set_buttons()
  +set_cards()
      
        
  
